.scroll {
  background-color: orange;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  border-radius: 5px;
  border: none;
  outline: none !important
}

.liss{
  margin: 5px
}
Thead{
  background-color: #343A41 !important;
  color: white !important;
}
Th{
  border: 1px solid white !important;
}

.render{
  font-size: 12px;
  text-align: center;
  margin: 5px
}
Tr:nth-child(even) {
  background: #E7E7E7 !important;
}


.hidden{
  margin: 5px;
  display: none
}
img{
  cursor: pointer;
}

#searchIcon{
  margin: 10px
}
.dropdown{
  margin-left: 5px
}

Link{
  outline: none;
  decoration: none
}
#search{
  width: 50%;
  margin: 50px auto;
}
#dropdown{
  margin-left: 15px
}

#homepage{
  background-image: url(../images/homeban.jpg);
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
th{
  border: 45px !important;
  border-radius: 1px solid aqua !important
}
a{
  color: white;
  outline: none !important
}
a:hover{
  outline: none;
  color: white
}
Th{
  border-radius: 10px;
  width: 20px;
}

.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
.competitors{
  background-image: url(../images/competitors.jpg);
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background: rgba(226, 217, 217, 0.8)
}
.insights{
  background-image: url(../images/insights.jpg);
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .scrollspy-example {
  position: absolute;
  height: 250px;
  overflow: auto;
} */
#scroll1{
  background-image: url(../images/indonesiababyfood1.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll2{
  background-image: url(../images/indonesiababyfood2.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right;

}
#scroll3{
  background-image: url(../images/indonesiababyfood3.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;

}
#scroll4{
  background-image: url(../images/indonesiababyfood4.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll5{
  background-image: url(../images/indonesiababyfood5.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll6{
  background-image: url(../images/indonesiababyfood6.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll7{
  background-image: url(../images/indonesiababyfood7.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll8{
  background-image: url(../images/indonesiababyfood8.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}

#scroll10{
  background-image: url(../images/indonesiababyfood10.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll11{
  background-image: url(../images/indonesiababyfood11.png);
  height: 87vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}



.insightsBackground{
  background-color: black
}
.hidden-sm-down{
  /* position: fixed !important; */
}
.nav{
  position: fixed !important;
}
#spy{
  right: 0;
}
.nav-link{
  background-color: #B44E3C !important;
  font-size: 15px !important;
  color: white;
  border: 1px solid white
}
