.scroll {
  background-color: orange;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  border-radius: 5px;
  border: none;
  outline: none !important
}


Thead{
  background-color: #343A41 !important;
  color: white !important;
}
Th{
  border: 1px solid white !important;
}

.render{
  font-size: 15px;
  text-align: center;
  margin: 15px;
}
td.pivoted{
  padding: 10px
}
Tr:nth-child(even) {
  background: #E7E7E7 !important;
}

img{
  cursor: pointer;
}

Link{
  outline: none;
  decoration: none
}
#search{
  width: 50%;
  margin: 50px auto;
}


th{
  border: 45px !important;
  border-radius: 1px solid aqua !important
}
a{
  color: white;
  outline: none !important
}
a:hover{
  outline: none;
  color: white
}
Th{
  border-radius: 10px;
  width: 20px;
}
/* .jumbotron {
background: rgba(226, 217, 217, 0.5)
} */
.competitors{
  background-image: url(../images/competitorsnew.png);
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.insights{
  background-image: url(../images/insightsnew.png);
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.training{
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#scroll1{
  background-image: url(../images/indonesiababyfood1.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll2{
  background-image: url(../images/indonesiababyfood2.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right;

}
#scroll3{
  background-image: url(../images/indonesiababyfood3.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;

}
#scroll4{
  background-image: url(../images/indonesiababyfood4.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll5{
  background-image: url(../images/indonesiababyfood5.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll6{
  background-image: url(../images/indonesiababyfood6.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll7{
  background-image: url(../images/indonesiababyfood7.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll8{
  background-image: url(../images/indonesiababyfood8.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}

#scroll10{
  background-image: url(../images/indonesiababyfood10.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}
#scroll11{
  background-image: url(../images/indonesiababyfood11.png);
  height: 95vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:right;
}



.insightsBackground{
  background-color: black
}
.nav{
  position: fixed !important;
}

.nav-link{
  background-color: #B44E3C !important;
  font-size: 11.5px !important;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

/* #homeNavigation1{
height: 100px !important;
width: 300px !important;
text-align: inherit !important;
vertical-align: middle !important;
font-size: 1.5rem !important;
display: inline-block !important;
margin-left: auto !important;
margin-right: auto !important;
padding: 1.5rem 1rem !important;
}


#mainButtons{
position:fixed !important;
top: 55% !important;
left: 20% !important;
width: 80% !important
} */
#homepage{
  background-image: url(../images/landing.png);
  height: 93vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */

@media screen and (max-width: 400px) {
  #homepage {
    background-image: url(../images/landing.png);
    height: 97vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #marginrightbuttons{
    margin-left: 20% !important
  }
  #opacityline{
    top: 24.5% !important ;
    width: 100% ;
    height: 110px ;
    background-color: rgba(254, 254, 254, 0) !important;
    position: absolute;
  }

  #marginrightthreebuttons{
    margin-right: 10% !important;
  }

  .insights{
    background-image: url(../images/insightsnew.png);
    height: 93vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .competitors{
    background-image: url(../images/competitorsnew.png);
    height: 93vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #orangebutton{
    margin-left: 1% !important
  }



}
@media screen and (max-width: 600px) {
  #homepage {
    background-image: url(../images/landing.png);
    height: 97vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #marginrightbuttons{
    margin-left: 20% !important
  }
  #opacityline{
    top: 24.5% !important ;
    width: 100% ;
    height: 110px ;
    background-color: rgba(254, 254, 254, 0) !important;
    position: absolute;
  }

  #marginrightthreebuttons{
    margin-right: 10% !important;
  }
  .insights{
    background-image: url(../images/insightsnew.png);
    height: 93vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .competitors{
    background-image: url(../images/competitorsnew.png);
    height: 93vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #orangebutton{
    margin-left: 1% !important
  }

}
@media screen and (max-width: 800px) {
  #homepage {
    background-image: url(../images/landing.png);
    height: 97vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #marginrightbuttons{
    margin-left: 20% !important
  }
  #opacityline{
    top: 24.5% !important ;
    width: 100% ;
    height: 110px ;
    background-color: rgba(254, 254, 254, 0) !important;
    position: absolute;
  }

  #marginrightthreebuttons{
    margin-left: 1% !important;
  }
  .insights{
    background-image: url(../images/insightsnew.png) !important;
    height: 93vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .competitors{
    background-image: url(../images/competitorsnew.png);
    height: 93vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #orangebutton{
    margin: 7% !important
  }


}

@media screen and (max-width: 1086px) {

  #opacityline{
    top: 42% !important;
    width: 100% ;
    margin-right: 60px ;
    height: 110px ;
    background-color: rgba(254, 254, 254, 0) !important;
    position: relative;
  }
  #marginrightthreebuttons{
  }

}

/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */
/* media for mobile */ /* media for mobile */ /* media for mobile */


#opacityline{
  top: 65% ;
  height: 110px ;
  background-color: rgba(254, 254, 254, 0.49) ;
  position: relative;
}

#opacityinsights{
  top: 59.5% !important ;
  width: 100% ;
  margin-right: 60px ;
  height: 110px ;
  background-color: rgba(254, 254, 254, 0.49) ;
  margin-right: 20px ;
  position: relative;
}
#marginrightbuttons{
  margin-left: 58%;
}
#marginrightthreebuttons{
  margin-left: 40%;
}
h1{
  text-align: center;
}

#videoDiv{
  /* height: 400px */
  text-align: center !important;
  vertical-align: middle;
}
#trainingJumbotron{
  background: rgba(254, 254, 254, 0.8) !important
}
.headerColor{
  color:white;

}
.image1 {
  background-image: url(../images/1.png);
}

.image2 {
  background-image: url(../images/2.png);
}

.image3 {
  background-image: url(../images/3.png);
}

.image4 {
  background-image: url(../images/4.png);
}

.image5 {
  background-image: url(../images/5.png);
}

.image6 {
  background-image: url(../images/6.png);
}

.image7 {
  background-image: url(../images/7.png);
}

.image8 {
  background-image: url(../images/8.png);
}

.image9 {
  background-image: url(../images/9.png);
}

.image10 {
  background-image: url(../images/10.png);
}

.image11 {
  background-image: url(../images/11.png);
}

.image12 {
  background-image: url(../images/12.png);
}

.image13 {
  background-image: url(../images/13.png);
}

.image14 {
  background-image: url(../images/14.png);
}

.image15 {
  background-image: url(../images/15.png);
}

.image {
  width: 100%;
  height: 28vh;
  background-size: cover;
  background-position: center;
  margin: 5px;
}
.modals{
  background-color: #f08c1f !important;
  color: white !important;
  border: 1px solid white !important;
  height: 90px !important;
  width: 200px !important;
  margin-top: 10px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 1.2rem !important;
  display: inline-block !important;
  margin-left: 25px !important;
  margin-right: auto !important;
  padding: 0.4rem !important;
}

#mainmarketbutton{
  background-color: #c33c32 !important;
  color: white !important;
  border: 1px solid white !important;
  height: 100px !important;
  width: 220px !important;
  margin-top: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 29.5px !important;
  display: inline-block !important;
  margin-left: 25px !important;
  margin-right: auto !important;
}

#marketcountryandcategorydropdownbutton{
  background-color: #c33c32 !important;
  color: white !important;
  border: 1px solid white !important;
  height: 100px !important;
  width: 220px !important;
  margin-top: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 29.5px !important;
  display: inline-block !important;
  margin-right: auto !important;
}
#maincompetitorsbutton{
  background-color: #4eac9b !important;
  color: white !important;
  border: 1px solid white !important;
  height: 100px !important;
  width: 220px !important;
  margin-top: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 29.5px !important;
  display: inline-block !important;
  margin-left: 25px !important;
  margin-right: auto !important;
  padding: 0.4rem !important;
}
#competitorscountriesandcategoriesbutton{
  background-color: #4eac9b !important;
  color: white !important;
  border: 1px solid white !important;
  height: 100px !important;
  width: 220px !important;
  margin-top: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 29.5px !important;
  display: inline-block !important;
  margin-right: auto !important;
  padding: 0.4rem !important;
}

#mainexportbutton{
  background-color: #f08c1f !important;
  color: white !important;
  border: 1px solid white !important;
  height: 100px !important;
  width: 220px !important;
  margin-top: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 29.5px !important;
  display: inline-block !important;
  margin-left: 25px !important;
  margin-right: auto !important;
}

#orangecolor{
  background-color: #f08c1f !important;
  color: white !important
}
#homebutton{
  background-color: #c33c32 !important;
  color: white !important;
  border: 1px solid white !important;

}

#gobackbutton{
  background-color: #4eac9b !important;
  color: white !important;
  border: 1px solid white !important;
}
#logoutbutton{
  background-color: #f08c1f !important;
  color: white !important;
  border: 1px solid white !important;
}
.wrap{
  white-space: normal !important;
    word-wrap: break-word !important;

}
