.scroll {
  background-color: aqua;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  border-radius: 5px;
  border: none;
  outline: none
}

.nav-link{
  color: aqua !important;
  border: 1px solid aqua
}
.nav-link:hover {
  background-color: aqua;
  color: black !important;

}
.nav-link:focus {
  background-color:aqua;
  color: black !important;
}
.liss{
  margin: 5px
}
/* input{
  border: 1px solid black !important;
  outline: none !important;
  box-shadow: 7px 10px !important;

} */
Thead{
  background-color: #343A41 !important;
  color: white !important;
}
Th{
  border: 1px solid white !important;
}

.render{
  font-size: 15px;
  text-align: center;
}
Tr:nth-child(even) {
  background: #E7E7E7 !important;
}

#home-link{
    border: 1px solid orange;
    color: orange !important;

}
#home-link:hover{
  background-color: orange;
  color: black !important;
}
#home-link:focus {
  background-color:orange;
  color: black !important;
}
.container{
  width: 50% !important;
  padding: 20px;
  border-radius: 20px;
}
.btn-dark{
  color: aqua !important;
  border: 1px solid aqua
}
