@color-red: #be0c36;
@color-grey: #3a3a3a;
@color-light-grey: #979997;
@color-off-white: #fffeed;
@color-white: #FFFFF7;

@brand-blue-dark: #18BCD0;
@brand-blue-light: lighten(@brand-blue-dark, 30%);
@brand-blue-lightest: lighten(@brand-blue-dark, 50%);

@brand-red-light: #E23D28;
@brand-red-dark: darken(@brand-red-light, 20%);
@brand-red-darkest: darken(@brand-red-light, 30%);
@brand-red-lightest: lighten(@brand-red-light, 10%);




@brand-gray: darken(@brand-blue-dark, 40%);

@brand-black: #1b1b1b;
@brand-darkest-gray: lighten(#1b1b1b, 5%);
@brand-dark-gray: lighten(#1b1b1b, 10%);
@brand-darker-black: darken(#1b1b1b, 5%);

@brand-tan: #E7DECC;

.button() {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  padding: 0;
  font-size: 12px;
  color: @color-white;
  border-radius: 50%;
  outline: none;
  background: fade(black, 50%);
  border: solid 1px mix(@color-white, black, 40%);
  text-align: center;
  line-height: 1;

  &:after {
    position: absolute;
    background: fade(black, 25%);
    border: solid 1px mix(@color-white, black, 24%);
    content: "";
    display: block;

    border-radius: 50%;
    opacity: 1;
    min-width: 40px;
    min-height: 40px;
  }
}

.close-button() {
    .button();
    transition: transform .6s @easing3, top .6s @easing3 1.2s;
    transform: scale3d(.9, .9, 1) rotate(90deg);
    font-size: 19px;


    i {
      top: auto;
      // margin-bottom: 1px;
    }


  &:after {
    left: -1px;
    top: -1px;
    transform-origin: center;
    transition: all (@duration / 2) @easing;
    transform: scale3d(1.3, 1.3, 1);
  }

  &:hover {
    border-color: @color-white;
    transform: scale3d(1, 1, 1) rotate(0);

    &:after {
      transform: scale3d(1.4, 1.4, 1);
    }
  }
}

.ring-button {
  cursor: pointer;
  min-width: 43px;
  min-height: 43px;
  padding: 0;
  font-size: 11px;
  color: @color-white;
  border-radius: 50%;
  outline: none;
  background: fade(black, 50%);
  border: solid 1px mix(@color-white, black, 24%);
  text-align: center;
  line-height: 1;

  .ring-button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: fade(black, 25%);
    border: solid 1px mix(@color-white, black, 30%);

    border-radius: 50%;
    opacity: 1;
    margin-left: 3px;
    margin-top: 3px;
    padding-bottom: 1.5px;
    min-width: 35px;
    min-height: 35px;
  }
}

body {
  font-family: @font-primary;
  .texture();
  background-color: @color-tan;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  text-shadow: @text-shadow-light;
  font-weight: 300;
  color: @color-off-white;
  font-size: 72px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin: 32px auto;
  text-align: center;

  &:after {
    content: '';
    display: block;
    margin: 18px auto;
    background: @brand-red-light;
    width: 60px;
    height: 2px;
    // box-shadow: @box-shadow;
  }
}

.video-gallery-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1270px;
    margin: 0 auto;

  .video-gallery-item {
    margin-right: 9px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 9px;
    }

    @media (max-width: 1254px) {
      margin-top: 9px;

      &:nth-child(n + 4) {
        margin-top: 0px;
      }
      &:nth-child(n + 3) {
        margin-top: 9px;
      }
      &:nth-child(3n + 3) {
        margin-right: 9px;
      }
    }

    @media (max-width: 854px) {
      margin-left: 9px;

      &:nth-child(n + 3) {
        margin-top: 9px;
      }

      &:nth-child(3n + 3) {
        margin-right: 9px;
      }
    }
  }
}

.video-gallery-item {
	width: 100%;
  width: 412px;
  height: 172px;
	overflow: hidden;
	position: relative;
  box-shadow: @box-shadow;

  &:after {
    content: '';
    background-color: @brand-black;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0.18;
    .texture();
    background-blend-mode: screen;
    background-size: 9px;
  }

	&:hover {
    cursor: pointer;
		.video-border {
			transform: scale3d(1.001,1.001,1.001);
		}
		.video-btn-over {
			transform: scale(1);

			.video-arrow {
				transform: translateX(0);
			}
		}
	}
	.video-border {
    transition: all 0.6s @easing3;
	  transform-origin: center center;
		transform: scale3d(1.01, 1.03, 1);
		position: absolute;
    width: 100%;
		height: 100%;
    top: 0;
    left: 0;
		z-index: 2;
		border: solid lighten(@brand-tan, 10%);
		border-width: 6px;
	}
	.legend {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0,0,0,.425);
		z-index: 1;
		color: #fffeed;
    font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 2px;

		.legend-text {
      font-weight: 400;
      font-size: 17px;
      line-height: 1;
			margin: 12px 9px 18px;
      text-shadow: @text-shadow-dark;
			text-align: center;
		}
	}
  .video-btn-out {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNTdweCIgaGVpZ2h0PSI1N3B4IiB2aWV3Qm94PSIwIDAgNTcgNTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5hcnJvd190cmFpbGVyX292ZXI8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iYXJyb3dfdHJhaWxlcl9vdmVyIj4KICAgICAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbCIgZmlsbD0iI0ZGRkVFRCIgY3g9IjI4LjUiIGN5PSIyOC41IiByPSIyOC41Ij48L2NpcmNsZT4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9Ik1hc2siIGZpbGw9IiNFMjNEMjgiIHBvaW50cz0iMjUgMjMgMjUgMzIuOTExODU2OCAzMy4wNDM5NDUzIDI4LjEwNzkxMDEiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==')
  }

  .video-btn-over {
    .video-arrow {
          background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iOXB4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCA5IDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA1My4yICg3MjY0MykgLSBodHRwczovL3NrZXRjaGFwcC5jb20gLS0+CiAgICA8dGl0bGU+YXJyb3dfdHJhaWxlcl9vdmVyPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9ImFycm93X3RyYWlsZXJfb3ZlciIgZmlsbD0iI0ZGRkVFRCIgZmlsbC1ydWxlPSJub256ZXJvIiBwb2ludHM9IjAuMDcyMjY1NiAwLjA2ODg0NzcgMC4wNzIyNjU2IDkuOTgwNzA0NSA4LjExNjIxMDkgNS4xNzY3NTc4Ij48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg==')

    }
  }
	.video-btn-out {
		z-index: 1;
		position: absolute;
		width: 54px;
		height: 54px;
		left: ~"calc(50% - 27px)";
		top: ~"calc(50% - 27px)";
		background-repeat: no-repeat;
    border-radius: 50%;
    // box-shadow: @box-shadow;
	}
	.video-btn-over {
		transition: transform 0.6s @easing3;
		position: absolute;
		transform-origin: 50% 50%;
		transform: scale(0);
		background-color: #E23D28;
		border-radius: 28px;
		width: 56px;
		height: 56px;
		left: ~"calc(50% - 28px)";
		top: ~"calc(50% - 28px)";
		overflow: hidden;
		z-index: 1;

		.video-arrow {
			-webkit-transition: -webkit-transform 0.45s @easing3 0.15s;
			-moz-transition: -moz-transform 0.45s @easing3 0.15s;
			transition: transform 0.45s @easing3 0.15s;
			transform: translateX(-56px);
			width: 9px;
			height: 11px;
			background-repeat: no-repeat;
			position: absolute;
			left: ~"calc(50% - 3px)";
			top: ~"calc(50% - 6px)";
		}
	}
	video {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
}

.video-gallery-player {
  .texture();
  background-color: @brand-black;
  background-blend-mode: difference;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all @easing3 0.9s;
  transform: translate3d(100%, 0, 0);
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;

  &--open {
    transform: translate3d(0, 0, 0);
  }

  .player {
    position: relative;
    padding-bottom: 66.25%;
    height: 0 !important;
    z-index: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: inset(2% 0px 2% 0);
    }
    &:after {
      content: '';
      background-color: @brand-black;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: block;
      position: absolute;
      opacity: 0.24;
      .texture();
      background-blend-mode: exclusion;
      background-size: 6px;
      clip-path: inset(2% 0px 2% 0);
    }
  }
  .controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 72px;
    width: 100%;

    > * {
      margin-right: 9px;
    }
  }

  .close-button {
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 1;
    .close-button();
  }

  .controls-button {
    .button();
  }

  .make-track(
    @track-color: fade(@brand-black, 60%),
    @track-border-color: fade(@color-white, 20%),
    @thumb-color: fade(@brand-red-light, 100%)
  );

  @keyframes k {
    0% {
      transform: scaleY(0.2);
    }
    100% {
      transform: scaleY(1);
    }
  }

  #muted {
    display: none;

    ~ label {
      cursor: pointer;
      height: 10px;
      left: 10px;
      position: absolute;
      top: 12px;
      width: 10px;

      .bar {
        background: #748c84;
        bottom: 1px;
        height: 10px;
        transform: scaleY(0.3);
        transform-origin: bottom;
        position: absolute;
        width: 1px;
        animation: k 0ms -.8s linear infinite alternate;

        &:first-child {
          left: 1px;
          animation-duration: 474ms;
        }

        &:nth-child(2) {
          left: 4px;
          animation-duration: 433ms;
        }

        &:nth-child(3) {
          left: 7px;
          animation-duration: 407ms;
        }

        &:nth-child(4) {
          left: 10px;
          animation-duration: 458ms;
        }
      }
    }
    &:checked {
      ~ label {
        .bar {
          animation: none;
        }
      }
    }
  }
}
